<%= render :partial => 'navbar' %>

  <div class="container">
    <div class="col-md-7 relief">
      <h1>#ReliefPH</h1>
      
      <div class="help-buttons">
        <button class="btn btn-primary">We need help</button><br />
        <button class="btn btn-success">I can help</button>
      </div>
    </div>
    
    <div class="col-md-5">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23reliefph+%23yolandaph+%23haiyan" data-widget-id="400322881210417152">Tweets about "#reliefph #yolandaph #haiyan"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>